
.oneform-input-wrap {
  position: relative;
  display: block;
  margin: 0;
  padding: $base_font_size * 0.5;
  border-style: solid;
  border-width: 1px;
  border-color: $black_80;
  @include single-box-shadow( rgba($black, 0.1), 0px, 1px, 2px, false, true );
  background-color: $white;

  &:hover {
    @include box-shadow( rgba($black, 0.1) 0 0 0 2px, rgba($black, 0.1) 0 0 2px 0 inset );
  }
  &.on-focus {
    @include box-shadow( rgba($black, 0.1) 0 0 0 2px, rgba($black, 0.1) 0 0 2px 0 inset );
  }
}

.oneform-input {
  display: block;
  border-style: none;
  background-color: transparent;
  outline: 0 none;
  font-size: $base_font_size * 0.75;
  color: $black;
  width: 100%;
  resize: none;
  line-height: 1.33;
  padding-top: 0;
  padding-bottom: 0;
  height: $base_font_size;
}

.oneform-bigbutton {
  cursor: pointer;
  overflow: hidden;
  position: relative;
  font-size: $base_font_size * 0.75;
  padding: $base_spacing;
  background-color: $black_50;
  color: $white;
  border-width: 0;
  cursor: pointer;
  text-align: center;
  text-rendering: optimizelegibility;
  text-transform: uppercase;
  vertical-align: middle;

  > input {
    cursor: pointer;
    -moz-appearance: none;
    -webkit-appearance: none;
    height: 100%;
    width: 100%;
    color: #FFFFFF;
    font-size: $base_font_size;
    text-transform: uppercase;
    background-color: transparent;

    background-image: image-url('phoenix/default/landing/arrow_right.png');
    background-repeat: no-repeat;
    background-position: right center;
    border: none;
  }

  &.green {
    background-color: $green;
  }
}

.oneform-select-wrap {
  height: $base_font_size * 2.125;
}

.oneform-select {
  background: none;
  border-style: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  @include opacity( 0 );
  /* opacity: 0; */
  /* -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; */
}

.oneform-select-text {
  color: $black;
  display: block;
  font-size: $base_font_size * 0.75;
  line-height: 1.33;
  padding: 0 0 0 1px;
  cursor: pointer;
  /* FIXME! we should use type */
  background-image: image-url("phoenix/default/landing/arrow_down.png");
  background-repeat: no-repeat;
  background-position: right center;
}

.oneform-textarea-wrap {
  padding: 0;
}

.oneform-textarea {
  display: block;
  border-style: none;
  background-color: transparent;
  outline: 0 none;
  font-size: $base_font_size * 0.75;
  color: $black;
  width: 100%;
  resize: none;
  line-height: 1.33;
  padding: $base_font_size * 0.5;
  margin: 0;
}

.oneform-checkbox-display {
  display: inline-block;
  width: 14px;
  height: 14px;
  position: relative;
  vertical-align: middle;
  border: solid 1px #cccccc;
  background: white;
  @include single-box-shadow( rgba($black, 0.1), 0px, 1px, 2px, false, true );

  &.checked {
    &:before {
      // FIXME: just make sure before pushing
      font-family: $type_kiss_symbol;
      content: '\2713';
      color: $green_40;
      position: absolute;
      top: -50%;
      left: 50%;
      margin-top: 3px;
      margin-left: -6px;
      line-height: 1.5;
    }
  }
}

.oneform-checkbox {
  display: none;
}

.oneform-radio-display {
  display: inline-block;
  width: 14px;
  height: 14px;
  position: relative;
  vertical-align: middle;
  background: $white;
  border: solid 1px #cccccc;
  cursor: pointer;
  @include border-radius( 7px );

  &.checked {
    &:before {
      // include me when the real font is in 
      // font-family: $type_kiss_symbol;
      content: '•';
      color: $green_40;
      font-size: 26px;
      position: absolute;
      top: -50%;
      left: 50%;
      margin-top: -1px;
      margin-left: -5px;
    }
  }
}

.oneform-radio {
  display: none;
}

.oneform-variable-input {
  padding-right: 20px;
}
