@import 'compass/css3/box-shadow';
@import 'compass/css3/opacity';
@import 'compass/css3/border-radius';
@import 'global';
@import 'font';

$has_shadow: true;
$has_border: true;
$has_background: true;
$has_focus: true;
$is_border_box: true;

$spacing: 8px;
$font_size: 16px;
$border_width: 1px;
$line_height: 1.33;

$foreground_color: #357;
$background_color: #FFF;
$border_color: #bbb;
$shadow_color: rgba(0, 0, 0, 0.1);
$accent_color: #F00;

$typeface: 'formyl_symbolsregular';
$content_checkbox_unchecked: '\2610';
$content_checkbox_checked: '\2713';
$content_radio_unchecked: '\25ef';
$content_radio_checked: '\25cf';
$content_small_down_arrow: '\25be';

// WRAPPER
// =======

.oneform-box {
  position: relative;
  display: block;
  margin: 0;
  padding: $spacing $spacing 0;
  overflow: hidden;

  @if $has_border {
    border-style: solid;
    border-width: $border_width;
    border-color: $border_color;
  }
  @else {
    border-style: none;
  }

  @if $has_background {
    background-color: $background_color;
  }
  @else {
    background-color: transparent;
  }

  @if $has_shadow {
    @include single-box-shadow( $shadow_color, 0px, 1px, 2px, false, true );
  }

  @if $has_focus {
    &:hover {
      @include box-shadow( $shadow_color 0 0 0 2px, $shadow_color 0 0 2px 0 inset );
    }
    &.on-focus {
      @include box-shadow( $shadow_color 0 0 0 2px, $shadow_color 0 0 2px 0 inset );
    }
  }
}

.oneform-checker-wrap {
}

.oneform-select-wrap {
  height: $font_size + ($spacing * 2);
}

.oneform-textarea-wrap {
  padding: 0;
}

// RAW ELEMENT
// ===========

.oneform-button {
  position: relative;
  display: block;

  width: 100%;
  height: $font_size + $spacing;
  margin: 0;
  padding: 0 0 $spacing;

  border-style: none;
  outline-style: none;

  font-size: $font_size;
  line-height: $line_height;

  background-color: transparent;
  color: $foreground_color;
  resize: none;

  &:active {
    padding-top: 1px;
  }
}

.oneform-checkbox,
.oneform-radio {
  display: none;
}

.oneform-select {
  position: absolute;

  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;

  border-style: none;

  background: none;
  cursor: pointer;
  @include opacity( 0 );
}

.oneform-text {
  display: block;

  width: 100%;
  height: $font_size + $spacing;
  padding: 0 0 $spacing;

  border-style: none;
  outline-style: none;

  font-size: $font_size;
  line-height: $line_height;

  background-color: transparent;
  color: $foreground_color;
  resize: none;
}

.oneform-textarea {
  display: block;

  width: 100%;
  padding: $spacing;
  margin: 0;

  border-style: none;
  outline-style: none;

  font-size: $font_size;
  line-height: $line_height;

  background-color: transparent;
  color: $foreground_color;
  resize: none;
}

// DISPLAY ELEMENT
// ===============

.oneform-checkbox-display {
  position: relative;
  display: inline-block;

  width: $font_size;
  height: $font_size;

  font-size: $font_size;
  font-family: $typeface;
  line-height: 1;

  vertical-align: middle;

  @if $has_background {
    background-color: $background_color;
  }

  &:after {
    position: absolute;
    color: $foreground_color;
    content: $content_checkbox_unchecked;
  }

  &.checked {
    &:before {
      position: absolute;
      color: $accent_color;
      content: $content_checkbox_checked;
    }
  }
}

.oneform-radio-display {
  position: relative;
  display: inline-block;

  width: $font_size;
  height: $font_size;

  font-size: $font_size;
  font-family: $typeface;
  line-height: 1;

  vertical-align: middle;
  cursor: pointer;

  @if $has_background {
    background-color: $background_color;
    @include border-radius( 50% );
  }

  &:after {
    position: absolute;
    color: $foreground_color;
    content: $content_radio_unchecked;
  }

  &.checked {
    &:before {
      position: absolute;
      color: $accent_color;
      content: $content_radio_checked;
    }
  }
}

.oneform-select-display {
  display: block;
  height: $font_size + $spacing;
  padding: 0 0 $spacing;

  font-size: $font_size;
  line-height: 1;

  color: $foreground_color;

  cursor: pointer;

  &:after {
    position: absolute;
    top: $spacing;
    right: $spacing;
    font-family: $typeface;
    content: $content_small_down_arrow;
  }
}

