@import 'compass/css3/box-shadow';
@import 'compass/css3/opacity';
@import 'global';
@import 'font';

$spacing: 8px;
$font_size: 16px;
$foreground_color: #000;
$background_color: #FFF;
$border_color: #bbb;
$shadow_color: rgba(0, 0, 0, 0.1);
$accent_color: #F00;
$typeface: 'formyl_symbolsregular';

.oneform-box {
  position: relative;
  display: block;
  margin: 0;
  padding: $spacing;
  border-style: solid;
  border-width: 1px;
  border-color: $border_color;
  @include single-box-shadow( $shadow_color, 0px, 1px, 2px, false, true );
  background-color: $background_color;

  &:hover {
    @include box-shadow( $shadow_color 0 0 0 2px, $shadow_color 0 0 2px 0 inset );
  }
  &.on-focus {
    @include box-shadow( $shadow_color 0 0 0 2px, $shadow_color 0 0 2px 0 inset );
  }
}

.oneform-input {
  display: block;
  border-style: none;
  background-color: transparent;
  outline: 0 none;
  font-size: $font_size;
  color: $foreground_color;
  width: 100%;
  resize: none;
  line-height: 1.33;
  padding-top: 0;
  padding-bottom: 0;
  height: $font_size;
}

.oneform-select-wrap {
  height: $font_size + ($spacing * 2);
}

.oneform-select {
  background: none;
  border-style: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  @include opacity( 0 );
}

.oneform-select-display {
  color: $foreground_color;
  display: block;
  font-size: $font_size;
  line-height: 1.33;
  padding: 0 0 0 1px;
  cursor: pointer;
  // background-image: image-url("phoenix/default/landing/arrow_down.png");
  // background-repeat: no-repeat;
  // background-position: right center;
}

.oneform-textarea-wrap {
  padding: 0;
}

.oneform-textarea {
  display: block;
  border-style: none;
  background-color: transparent;
  outline: 0 none;
  font-size: $font_size;
  color: $foreground_color;
  width: 100%;
  resize: none;
  line-height: 1.33;
  padding: $spacing;
  margin: 0;
}

.oneform-checkbox {
  display: none;
}

.oneform-radio {
  display: none;
}

.oneform-checkbox-display {
  position: relative;
  display: inline-block;
  width: $font_size;
  height: $font_size;
  font-size: $font_size;
  font-family: $typeface;

  vertical-align: middle;

  &:after {
    content: '\2610';
  }

  &.checked {
    &:before {
      content: '\2713';
      color: $accent_color;
      position: absolute;
    }
  }
}

.oneform-radio-display {
  position: relative;
  display: inline-block;
  width: $font_size;
  height: $font_size;
  font-size: $font_size;
  font-family: $typeface;

  vertical-align: middle;
  background-color: $background_color;

  cursor: pointer;
  

  
  &:after {
    content: '\25ef';
  }

  // @include border-radius( 7px );

  &.checked {
    &:before {
      // this needs work
      content: '\25cf';
      color: $accent_color;
      position: absolute;
    }
  }
}



/*

.oneform-variable-input {
  padding-right: 20px;
}

.oneform-bigbutton {
  cursor: pointer;
  overflow: hidden;
  position: relative;
  font-size: $font_base;
  padding: $spacing;
  background-color: $background_color;
  color: $fore;
  border-width: 0;
  cursor: pointer;
  text-align: center;

  > input {
    cursor: pointer;
    -moz-appearance: none;
    -webkit-appearance: none;
    height: 100%;
    width: 100%;
    color: #FFFFFF;
    font-size: $base_font_size;
    text-transform: uppercase;
    background-color: transparent;

    background-image: image-url('phoenix/default/landing/arrow_right.png');
    background-repeat: no-repeat;
    background-position: right center;
    border: none;
  }

  &.green {
    background-color: $green;
  }
}

*/
